<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="logo"/>
    </p>
    <mat-card-content>
      <div>
        <p><span translate>The project is developed on the basis of angular 6 dev-starter kit.</span></p>
        <p><span translate>For such components and functionality as table, pagination, cards, sorting - were used ng-prime components.</span></p>
        <p><span translate>But Filter component is fully self-written.</span></p>
        <p><span translate>Bonuses: localization (RU/EN).</span></p>
        <p><span translate>Data is generated into-json file with 400 users</span>: https://mockaroo.com/</p>
        <p><span translate>Fields</span>: id, first_name, last_name, email, department, phone</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>